%script{:id => "pin", :type => "text/html"}
  {{#records}}
  %li{:id => "{{Id}}", :class => "noChatter pin"}
    %ul
      %li.info
        %div.type
          {{#attributes}}
          {{type}}
          {{/attributes}}
        %div.title
          {{Name}}
        {{#attributes}}
        %div{:class => "{{type.toLowerCase}}Tab image"}
          {{/attributes}}
          %div{ :class=> "pageTitleIcon" }
        %ul.desc
          {{#fields__api}}
          %li
            {{key}}: {{val}}
          {{/fields__api}}
      %li.chatter
        %ul
          %li.preloader
            =image_tag "loader.gif", :class => "chatterLoader", :style => "display: none;"
          %li.load
            %a{:href => "#", :class => "loadChatter"}
              + Load chatter feed
  {{/records}}
%script{:id => "chatter", :type => "text/html"}
  {{#chatter}}
  %li.post
    .author
      %img{:src => "{{photoUrl}}?oauth_token=#{session[:access_token]}", :title => "{{#actor}}{{name}}{{/actor}}", :alt => "{{#actor}}{{name}}{{/actor}}"}
    .body
      %b
        {{#actor}}{{name}}{{/actor}}
        %br
        {{#body}}{{text}}{{/body}}
  {{/chatter}}
  {{^chatter}}
  %li.post.noposts
    .body
      No chatter posts
  {{/chatter}}
  {{#me}}
  %li.comment
    %img{:style => "height: 30px;", :src => "{{#photo}}{{smallPhotoUrl}}{{/photo}}?oauth_token=#{session[:access_token]}", :title => "{{name}}", :alt => "{{name}}"}
    %input{:type => "text", :class => "comment", :placeholder => "Enter a comment"}
  {{/me}}
%script{:id => "chatterComment", :type => "text/html"}
  %li.post
    .author
      %img{:src => "{{#author}}{{#photo}}{{smallPhotoUrl}}{{/photo}}{{/author}}?oauth_token=#{session[:access_token]}", :title => "{{#author}}{{name}}{{/author}}", :alt => "{{#author}}{{name}}{{/author}}"}
    .body
      %b
        {{#author}}{{name}}{{/author}}
        %br
        {{body}}

  