// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pins {
  margin: auto;
}
.pin {
  ul.actions {
    display: block;
   
  }
}

.pin {
  list-style: none;
  float: left;
  width: 192px;
  margin-right: 5px;
  position: absolute;
  margin-bottom: 5px;
  background-color: #fff; 
  box-shadow: 0 1px 3px rgba(34,25,25,0.4); 
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4); 
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  ul, li {
      list-style:none;
      padding-left: 0px;
  }
  ul.actions {
    margin: 10px 0 0 10px;
    
    position: absolute;
    li {
      opacity: .8;
      float: right;
      display: block;
      a {
        -webkit-border-radius: 6px;
        border-radius: 6px;
        padding: 7px 9px;
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.35), 0 0 0 1px rgba(140, 126, 126, 0.5);
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.35), 0 0 0 1px rgba(140, 126, 126, 0.5);
        background-color: #F0EDED;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFAFB), to(#F0EDED), color-stop(.5,#F9F7F7),color-stop(.5,#F6F3F4));
        background-image: -moz-linear-gradient(top, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
        background-image: -o-linear-gradient(top, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
        background-image: -webkit-linear-gradient(top, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
        border-color: #BBB;color: #524D4D;
        color: #000;
        text-decoration: none;
        font-size: 14px;
        line-height: 18px;
        display: block;
      }
    }
  
  }
  .title {
    font-size: 16px;
  }
  .info {
    font-size: 12px;
    padding: 15px 15px 0; 
    .image {
      padding: 15px;
    }
    .pageTitleIcon {
      margin: auto;
    }
  }
  .chatter {
      ul {
        margin-top: 5px;
        background-color: #F2F0F0;
        li.preloader {
          text-align: center;
        }
        li.post {
          overflow:auto;
          padding: 3px;
          color: #AD9C9C;
          font-size: 11px;
          border-bottom: 1px solid #AD9C9C; 
          img {
            float: left;
            height: 30px;
            padding-right: 10px;
          }
        }
      }
    }
}

a.loadChatter {
  color: #000;
  text-decoration: none;
  padding-left: 20px;
  font-size: 10px;
  line-height: 40px;
  display: block;
  
}

input[type='text'].comment {
  
  border-radius: 5px;
  height: 20px;
  width: 70%;
  border: 1px solid #AD9C9C;
  position: relative;
  top: 2px;

}


// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}
.clearfix { @include clearfix(); }